<!DOCTYPE html>
<html>
<head>
    <title>Mashup Generator</title>
</head>
<body>
    <h2>Create Mashup</h2>
    <form method="POST">
        Singer Name: <input type="text" name="singer" required><br><br>
        # of Videos: <input type="number" name="videos" min="11" required><br><br>
        Duration (sec): <input type="number" name="duration" min="21" required><br><br>
        Email Id: <input type="email" name="email" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
